h1, p {
  font-family: Lato;
}

.submitButton{
  margin:1px;
  color:yellow;

}

.textField{
    marginLeft: 1px;
    marginRight: 1px;
    width: 500px;
  }

.card {
    width: 350px;
  }
.bigCard{
    width: 600px;

}

body { font-size: 14px; }

#card{
  display: inline-block;
    margin: 0 auto;
    margin-top:20px;
    margin-left:0px;
    height:250px;
    padding-right: 15px;
    padding-left: 15px;
}

